<footer class="footer">
    <div class="container text-center">
      <span class="text-muted">all rights reserved VSSB 2018</span>
    </div>
  </footer>
  <a routerLink="/addContact" class="back-to-top" style="display: inline;"><i class="fas fa-plus"></i></a>