.card{
 
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
  background-color:$white-color;
  color: $card-black-color;
  margin-bottom: 20px;
  position: relative;
  border: 1px solid #efefef;

  -webkit-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  -moz-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  -o-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  -ms-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;

    .card-body{
        padding: 15px 15px 10px 15px;

        &.table-full-width{
            padding-left: 0;
            padding-right: 0;
        }
        .card-text
        {
          font-weight: 500;
        }
    }


    .card-header{
      
      color: $white-color;
      border: 0;
      background-color: $light-black;

      .card-title{
          margin-top: 10px;
      }
    }

}

.section-title {
	margin-bottom: 40px;
	h2 {
		float: left;
		width: 100%;
		margin-bottom: 5px;
		font-size: 24px;
		font-weight: 600;
	
		
	}
}
.section-separator {
	float: left;
	width: 100%;
	position: relative;
	margin: 10px 0 15px;
	&:before {
		background: $red-color;
		content: '';
		position: absolute;
		left: 50%;
		top: 0;
		height: 4px;
		margin-left: -25px;
		width: 50px;
		border-radius: 3px;
	}
}
