.footer {
    position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}


.back-to-top {
    position: fixed;
    display: none;
    background: $red-color;
    color: $white-color;
    width: 55px;
    height: 55px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    right: 15px !important;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
     i {
        padding-top: 20px;
        color:$white-color;
    }
}
