.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: none;
}
.btn-link{
    color: #4c4c4c;
    font-size: 1.9em;
    font-weight: bold;
}

.btn-link:hover , .btn-link:focus, .btn-link.focus {
    color: #f00;
    text-decoration: none;
}