<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-8">
            <div class="form-group">
                <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search for Contacts" >
              </div>
        </div>
        <div class="col-md-12">
            <div class="section-title text-center">
            
                <h2>Contacts </h2>
                <span class="section-separator"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class=" text-center">
            
                <button type="button" class="btn btn-link" *ngFor="let item of characters " (click)="selectCharacter(item)">{{item |  uppercase}}</button>
            </div>
        </div>
        <div class="col-md-12 my-5">
            <div class="row">
                <div class="col-md-4" *ngFor="let item of items | filter : searchText" >
                    <div class="card text-center" routerLink="/profile/{{item.id}}">
                        <div class="card-header">
                         {{item.title}}
                        </div>
                        <div class="card-body p-3">
                            <p class="card-text text-muted mb-0">{{item.phone}}</p>
                          <p class="card-text text-muted">{{item.email}}</p>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>