<header>
    <div class="container">
        <div class="row"> 
            <div class="col-md-3">
                <img alt="vodafone_logo" src="assets/img/vodafone_logo.svg" class="img-fluid m-4">
            </div>
        </div>
    </div>
</header>