<div class="container">
    <div class="row"> 
        <div class="col-md-12">
        <div class="section-title text-center">
        
            <h2>{{details.title}}'s Profile' </h2>
            <span class="section-separator"></span>
        </div>
    </div>

        <div class="col-md-4 offset-md-4  info">
            <div class="row mt-5">
                <div class="col-sm-3 text-muted">Name</div>
                <div class="col-sm-9">{{details.title}}</div>
                <div class="col-sm-3 text-muted">Phone</div>
                <div class="col-sm-9 text-danger">{{details.phone}}</div>
                <div class="col-sm-3 text-muted">E-mail</div>
                <div class="col-sm-9 text-danger">{{details.email}}</div>
                
            </div>
            <div class="row my-5">
                <div class="col-md-4 offset-md-2 mt-2">
                    <button type="button" (click)="deleteContact(details.id)" class="btn btn-outline-danger btn-block">Delete</button>
                </div>
                <div class="col-md-4 mt-2">
                    <button type="button" routerLink="/editContact/{{details.id}}" class="btn btn-outline-secondary btn-block">Edit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="footer register-footer text-center">

    </div>
</div>
