<div class="container">
    <div class="row"> 
        <div class="col-md-12">
        <div class="section-title text-center">
        
            <h2>Add New Contacts </h2>
            <span class="section-separator"></span>
        </div>
    </div>

        <div class="col-md-8 offset-md-2">

            <form [formGroup]="addForm" (ngSubmit)="onSubmit()" class="register-form">

                <div class="card-sign pb-2">
            
                    <div class="row p-3">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name">Name</label>
                                <input type="title" formControlName="title" placeholder="Name"
                                    class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
                                <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                                    <div *ngIf="f.title.errors.required">Name is required</div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name">Phone</label>
                                <input type="number" formControlName="phone" placeholder="Phone"
                                    class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
                                <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                                    <div *ngIf="f.phone.errors.required">Phone is required</div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="email"> Email</label>
                                <input type="text" formControlName="email" class="form-control" placeholder="Email"
                                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">Email is required</div>
                                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                </div>
                            </div>

                        </div>

                        
                       
                       
                    </div>
                </div>

                <div class="form-group text-center">
                    <button [disabled]="loading" class="btn btn-outline-secondary mb-5">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm  mr-1"></span>
                        Add Contact
                    </button>

                </div>
            </form>
            
        </div>
    </div>
    <div class="footer register-footer text-center">

    </div>
</div>
